## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<footer class="global-footer" style="background-color: rgb(74,74,74); color: rgb(255,255,255)">
  <div class="container-fluid">
  <div class="row">
      <div class="col-md-5  col-sm-12 side left-side">
        <a href="${settings.PLP_URL}" class="pull-left"><img src="https://albania.opro.ciot-env.ru/static/img/logo-white.svg" alt="" class="logo-small"></a>
        <ul class="list-unstyled">
        </ul>
      </div>
      <div class="col-md-7 side right-side hidden-xs">
        <div class="row">
          <div class="col-md-5 col-sm-6">
            <ul class="list-unstyled narrow" style="color: rgb(255,255,255)">
              <li><a href="${settings.PLP_URL}/about/" style="color: rgb(255,255,255); font-weight: 300; line-height: 15px; font-size: 13px;">О проекте</a></li>
              <li><a href="${settings.PLP_URL}/faq/" style="color: rgb(255,255,255); font-weight: 300; line-height: 15px; font-size: 13px;">Вопрос-ответ</a></li>
            </ul>
          </div>
          <div class="col-md-7 col-sm-6 eqv">
            <ul class="list-unstyled wide">
              <li><a href="${settings.PLP_URL}/terms/" style="color: rgb(255,255,255); font-weight: 300; line-height: 15px; font-size: 13px;">Пользовательское соглашение</a></li>
              <li><a href="${settings.PLP_URL}/contacts" style="color: rgb(255,255,255); font-weight: 300; line-height: 15px; font-size: 13px;">Контактная информация</a></li>
              <li><a href="${settings.PLP_URL}/feedback" style="color: rgb(255,255,255); font-weight: 300; line-height: 15px; font-size: 13px;">Сообщить о проблеме</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

   <div class="row copyright">
      <div class="col-md-5">
        Open Profession 2016
      </div>
      <div class="col-md-4" style="margin-top: -21px; margin-left: 54px;">
  </div>
    </div>
  </div>
  </footer>
  <script type="text/javascript" >
      $(function () {
          var dropdown = $('#sb_profile');
          dropdown.click( function() {
              dropdown.toggleClass('open');
          });
      });
  </script>
